


<div class="last-values">
  <div class="last-values_item last-values__house">
    <p class="last-values_title">Дом:</p>
    <div class="last-values_group">
      <% if @last_house_data %>
        <p class="last-values_value">
          <%= @last_house_data.data %> &degС
        </p>
        <p class="last-values_date">
          <%= @last_house_data.created_at.strftime("%H:%M %d.%m.%Y") %>
        </p>
      <% else %>
        --
      <% end %>
    </div>
  </div>
  <div class="last-values_item last-values__bath">
    <p class="last-values_title">Баня:</p>
    <div class="last-values_group">
      <% if @last_bath_data %>
        <p class="last-values_value">
          <%= @last_bath_data.data %> &degС
        </p>
        <p class="last-values_date">
          <%= @last_bath_data.created_at.strftime("%H:%M %d.%m.%Y") %>
        </p>
      <% else %>
        --
      <% end %>
    </div>
  </div>

</div>

<div class="chart">
  <%= line_chart @data,
                 messages: {empty: "За последние 12 часов данных нет"},
                 min: nil,
                 max: nil,
                 defer: true,
                 xtitle: "Время",
                 ytitle: "Температура",
                 library: {time: {timezoneOffset: -4 * 60}} %>
</div>


